.topcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-top: 30px;
}
.link {
    text-decoration:overline;
    color: #4CAF50;
    align-items: center;
    font-weight: bold;
}
.inputs { 
    display: flex;
    flex-direction: column;
    width:350px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.tablaTotal {
    display: flex;
    flex-direction: column;
    width:350px;
    padding-top: -20px;
    align-items: center;
    justify-content: center;
}
.botones {
    display: flex;
    flex-direction: column;
    width:350px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}